/* Reset some default styles */
html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

/* Set a background color and text color for the body */
body {
    background-color: #ffffff;
    color: #ffffff;
    font-family: 'Martian Mono', monospace;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100%;
    overflow-x: hidden;
}

header {
    z-index: 1; /* Ensure the box is above the dots */
    display: flex;
    background-color: #000000;
    width: 100%;
    padding: 18px;
    height: 4vh;
    align-items: center;
}

.headerh2 {
    padding: 8px;
    font-size: 3vh;
}

.headerLink {
    color: white;
    text-decoration: none;
}

.link-container {
}

.link{
    color: #fc7f23;
    padding: 8px;
    font-size: 2vh;
    filter: drop-shadow(0px 0px 18px #fc7f23);
    transition: drop-shadow 2s;
}

.link:hover {
    filter: drop-shadow(0px 0px 2px #fc7f23);
}

.translucent-box {
    background-color: rgba(0, 0, 0, 0.8);
    box-shadow: 1px 1px 0px rgba(138, 137, 137, 0.7),
    2px 2px 0px rgba(138, 137, 137, 0.7),
    3px 3px 0px rgba(138, 137, 137, 0.7),
    4px 4px 0px rgba(138, 137, 137, 0.7),
    5px 5px 0px rgba(138, 137, 137, 0.7),
    6px 6px 0px rgba(138, 137, 137, 0.7);
    text-align: center;
    z-index: 1; /* Ensure the box is above the dots */
    margin: auto;
}

.translucent-box-project-gallery {
    background-color: rgba(0, 0, 0, 0.8);
    box-shadow: 1px 1px 0px rgba(138, 137, 137, 0.7),
    2px 2px 0px rgba(138, 137, 137, 0.7),
    3px 3px 0px rgba(138, 137, 137, 0.7),
    4px 4px 0px rgba(138, 137, 137, 0.7),
    5px 5px 0px rgba(138, 137, 137, 0.7),
    6px 6px 0px rgba(138, 137, 137, 0.7);
    text-align: center;
    z-index: 1; /* Ensure the box is above the dots */
    margin: auto;
    width: 80%;

}

.flex-row-div {
    display: flex;
    justify-content: space-evenly;
}

.flex-div-item-column {
    flex: 1;
    flex-direction: column;
    max-width: 100%;
    background-color: rgba(143, 143, 143, 0.55);
    border-radius: 12px;
    margin: 10px;
    transition: 0.2s;
}

.flex-div-item-column:hover {
    flex: 1.2;
    box-shadow: 0px 0px 12px 4px rgba(255, 136, 0, 0.4);
}

.translucent-boxh1 {
    font-size: 6vh;
    padding: 20px;
}

.divider {
    display: flex;
    justify-content: space-between;
    margin: 20px;
}

/* Style the boxes */
.box {
    display: flex;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.0);
    padding: 40px;
    flex: 1;
    text-align: left;
}

.box2 {
    display: flex;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.0);
    padding: 40px;
    flex: 1;
    text-align: right;
}

.box:hover {

}

/* Style the boxes' content */
.boxh2 {
    font-size: 4vh;
}

.verticalDivider {
    border-left: 2px solid white;
    height: 30vh;
    max-height: 200px;
}

/* Style the grid dots (initially orange) */
.grid-dot {
    position: absolute;
    width: 2px;
    height: 2px;
    background-color: #000000; /* Initial color */
    border-radius: 50%;
    pointer-events: none; /* Ensure the dots don't interfere with cursor events */
}

.floatingInfoBox {
    position: absolute;
    right: 1vh;
    bottom: 1vh;
    background-color: rgba(252, 127, 35, 0.8);
    padding: 8px;
    z-index: 1;
    max-width: 10vh;
    font-size: 1.2vh;
}

.floatingInfoBoxParagraph {
    font-style: italic;
    color: #333
}

.floatingInfoLink {
    font-style: italic;
}

.colorModeButton {
    position: absolute;
    right: 4vh;
    font-size: 3vh;
    border: none;
    background-color: rgba(0,0,0,0.8);
    color: white;
    padding: 0px;
}

hr.solid {
    color: #ffffff;
    max-width: 95%;
    margin-top: 48px;
    margin-bottom: 48px;
}


@media screen and (max-width: 480px) {
    .translucent-box{
        width: 40vh;
        height: 50vh;
        padding:40px;
    }

    .translucent-boxh1 {
        font-size: 5vh;
        padding: 0;
    }

    .divider {
        flex-direction: column;
    }

    .box {
        display: flex;
        flex-direction: column;
        padding: 20px;
        flex: 1;
        text-align: left;
        font-size: 2vh;
    }

    .box2 {
        display: flex;
        flex-direction: column;
        padding: 20px;
        flex: 1;
        text-align: left;
    }

    .boxh2 {
        font-size: 3vh;
    }

    .verticalDivider {
        display: none;
    }

    .flex-row-div {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }
}
