/* Reset some default styles */
body, h1, p {
    margin: 0;
    padding: 0;
}

/* Set a background color and text color for the body */
body {
    background-color: #000000;
    color: #333;
    font-family: 'Martian Mono', monospace;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    overflow: hidden; /* Prevent scrollbars */
}

.link{
    color: #fc7f23;
    padding: 8px;
}

/* Style the translucent box */
.translucent-box {
    background-color: rgba(0, 0, 0, 0.9);
    color: #fff;
    text-align: center;
    padding: 50px 100px 50px;
    border-radius: 10px;
    position: relative; /* Add position:relative to allow z-index */
    z-index: 1; /* Ensure the box is above the dots */
}

.translucent-box h1 {
    font-size: 36px;
}

.divider {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

/* Style the boxes */
.box {
    background-color: rgba(0, 0, 0, 0.0);;
    padding: 40px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    flex: 1;
    margin: 0 10px;
}

/* Style the boxes' content */
.box h2 {
    font-size: 24px;
}

.verticalDivider {
    border-left: 2px solid white;
    height: 200px;
}

/* Style the grid dots (initially orange) */
.grid-dot {
    position: absolute;
    width: 2px;
    height: 2px;
    background-color: #ffffff; /* Initial color */
    border-radius: 50%;
    pointer-events: none; /* Ensure the dots don't interfere with cursor events */
    transition: background-color 0.3s ease;
}

/* Style the footer */
footer {
    text-align: center;
    margin-top: 20px;
    padding: 10px 0;
    background-color: #333;
    color: #fff;
}