html, body{
    scroll-behavior: smooth;
    padding: 0;
    margin: 0;
    height: 100%;
    min-height: 100%;
}

body {
    background-color: #f0f0f0;
    color: #ffffff;
    font-family: 'Martian Mono', monospace;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-x: hidden;
    height: auto;
    animation: 0.5s blurAnimation;
}

@keyframes blurAnimation {
    0% {
        filter: blur(10px);
    }
    100% {
        filter: blur(0px);
    }
}

canvas {
    position: absolute;
    top: 0;
    left: 0;
}

header {
    z-index: 1; /* Ensure the box is above the dots */
    display: flex;
    background-color: #000000;
    width: 100%;
    padding: 18px;
    height: 4vh;
    align-items: center;
    justify-content: space-between;
}

.headerh2 {
    padding: 8px;
    font-size: 3vh;
}

.headerLink {
    color: white;
    text-decoration: none;
}

.link-container {
}

.link{
    color: #fc7f23;
    padding: 8px;
    font-size: 2vh;
    filter: drop-shadow(0px 0px 18px #fc7f23);
    transition: drop-shadow 2s;
}

.link:hover {
    filter: drop-shadow(0px 0px 2px #fc7f23);
}

.translucent-box{
    background-color: rgba(0, 0, 0, 0.8);
    box-shadow: 5px 5px 0px 0px rgba(0, 0, 0, 0.5);
    margin: 20px;
    text-align: center;
    padding: 20px;
    z-index: 1;
    width: 50%;
}

.translucent-box p {
    font-size: 1.5vh;
}

.flex-row-div {
    display: flex;
    justify-content: space-evenly;
}

.flex-div-item-column {
    flex: 1;
    flex-direction: column;
    background-color: rgb(68, 67, 67);
    border-radius: 12px;
    padding: 16px;
    margin: 30px;
    transition: 0.2s;
}

.flex-div-item-column:hover {
    box-shadow: 0px 0px 12px 4px rgba(255, 136, 0, 0.4);
}

.translucent-box h1 {
    overflow: clip;
    font-size: 6vh;
}

.divider {
    display: flex;
    justify-content: space-between;
    margin: 20px;
}

/* Style the boxes */
.box {
    display: flex;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.0);
    padding: 40px;
    flex: 1;
    text-align: left;
}

.box2 {
    display: flex;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.0);
    padding: 40px;
    flex: 1;
    text-align: right;
}

/* Style the boxes' content */
.boxh2 {
    font-size: 4vh;
}

.verticalDivider {
    border-left: 2px solid white;
    height: 30vh;
    max-height: 200px;
    margin: auto;
}

.tag-div {
    background-color: rgba(128, 128, 128, 0.5);
    border-radius: 10vh;
    color: white;
    padding: 8px;
    font-size: 12px;
}

.flex-row-div-tags {
    display: flex;
    justify-content: space-evenly;

}

.grid-dot {
    position: absolute;
    width: 2px;
    height: 2px;
    background-color: #000000;
    border-radius: 50%;
    pointer-events: none; /* Ensure the dots don't interfere with cursor events */
}

.floatingInfoBox {
    position: absolute;
    right: 1vh;
    bottom: 1vh;
    background-color: rgba(252, 127, 35, 0.8);
    padding: 8px;
    z-index: 1;
    max-width: 10vh;
    font-size: 1.2vh;
}

footer {
    z-index: 1;
    display: flex;
    background-color: rgba(252, 127, 35, 0.8);
    width: 100%;
    padding: 4px;
    height: 4vh;
    align-items: center;
    font-style: italic;
    color: #333;
    justify-content: end;
    margin-top: 30px;
}


footer p {
    font-size: 12px;
    padding: 12px
}

footer a {
    font-size: 12px;
    padding: 12px;
    font-style: italic
}

.project-img {
    border-radius: 12px;
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.colorModeButton {
    font-size: 3vh;
    border: none;
    background-color: rgba(0,0,0,0.8);
    color: white;
    padding-right: 12px;
    transition: font-size 0.1s;
}

.colorModeButton:hover {
    font-size: 3.5vh;
}

hr.solid {
    color: #ffffff;
    max-width: 95%;
    margin-top: 48px;
    margin-bottom: 48px;
}

@media screen and (max-width: 768px) {
    .translucent-box{
        padding:40px;
        margin: 20px;
        width: 80%;
    }

    .translucent-box h1 {
        font-size: 3vh;
    }

    .flex-div-item-column:hover {
        flex: 1;
        box-shadow: 0px 0px 12px 4px rgba(255, 136, 0, 0.4);
        margin: 30px;
    }

    .divider {
        flex-direction: column;
    }

    .box {
        display: flex;
        flex-direction: column;
        padding: 20px;
        flex: 1;
        text-align: left;
        font-size: 2vh;
    }

    .box2 {
        display: flex;
        flex-direction: column;
        padding: 20px;
        flex: 1;
        text-align: left;
    }

    .boxh2 {
        font-size: 3vh;
    }

    .verticalDivider {
        display: none;
    }

    .flex-row-div {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }
}
